name: Upload on S3

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '**/LICENSE'
      - '.github/**'
      - 'tests/**'

jobs:
  build:
    name: Chart release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Creating additional scripts
        run: |
          for EDITION in ENTERPRISE DEVELOPER; do
            cp -rf "./docs-install.sh" "./docs-${EDITION,,}-install.sh"
            sed -i "/^PARAMETERS/s|\(-it\) [^\" ]\+|\1 ${EDITION}|g" "./docs-${EDITION,,}-install.sh"
          done

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1

      - name: Upload scripts
        run: |
          aws s3 cp . ${{ secrets.AWS_BUCKET_URL }}/docs --acl public-read --recursive --exclude "*" --include "*.sh"
          aws s3 cp ./install-Debian ${{ secrets.AWS_BUCKET_URL }}/docs/install-Debian --acl public-read --recursive --exclude "*" --include "*.sh"
          aws s3 cp ./install-RedHat ${{ secrets.AWS_BUCKET_URL }}/docs/install-RedHat --acl public-read --recursive --exclude "*" --include "*.sh"

      - name: Invalidate CLOUDFRONT cache
        run: |
          CF_STATUS=$(aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_DISTRIBUTION_ID }} --paths "/docs/*" --query 'Invalidation.Status' --output text)
          echo "CloudFront invalidation: $CF_STATUS"

          API_STATUS=$(aws apigateway test-invoke-method --rest-api-id ${{ secrets.AWS_REST_API_ID }} --resource-id "${{ secrets.AWS_RESOURCE_ID }}" \
            --http-method PUT --path-with-query-string "/prod/cdn77" --body "$(jq -c -n '.paths = $ARGS.positional' --args "/docs/*")" \
            --region us-east-1 --query 'status' --output text || :)

          echo "API Gateway test-invoke status: ${API_STATUS:-<failed>}"
